.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}

.navbar .logo{
    width: max(10%,80px);
}

.navbar .profile{
    width: 40px;
}
.admin-info {
    display: flex;
    align-items: center;
    gap: 10px; /* spacing between name and profile photo */
  }
  
  .admin-name {
    font-weight: bold;
    font-size: 16px;
  }